body {
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.box {
  width:100px;
  height:100px;
  margin: 2px;
  display: inline-block;
}

#red {
  background-image: url('../images/crystal01.gif');

}

#blue {
  background-image: url('../images/crystal02.gif');

}
#green {
  background-image: url('../images/crystal03.gif');

}
#black {
  background-image: url('../images/crystal04.gif');

}

.container {
  background-color: orange;
  width:140px;
  height:140px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  position:relative;
  overflow: hidden;
}
#pointsToMatch {

}
.right {
  float: left;
}
.left {
  float:left;
}

.clear {
  clear: both;
}
.padding {
  padding:10px;
}

header h1 {
  background-color: green;
  width:400px;
  text-align: center;
}
.label {
  background-color: grey;
}
